html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#main-layout {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

#qrcode-section {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vh;
}

#qrcode {
    display: block;
}

#right-section {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

#controls-section {
    flex: 0 0 auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background: #eee;
}

#log-section {
    flex: 1 1 0;
    overflow-y: auto;
    padding: 1em;
    background: #ddd;
}

@media (orientation: portrait) {
    #main-layout {
        flex-direction: column;
    }
    #qrcode-section {
        flex: none;
        height: 100vw;
        width: 100vw;
    }
    #right-section {
        flex: 1 1 0;
        min-width: 0;
        max-width: 100vw;
    }
}

/* Controls positioning */

.controls-row-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.duration-group {
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.controls-row-next {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-top: 1em;
}

#duration {
    width: 5em;
}

#missing {
    flex: 1;
}
